<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Index.Html</h1>
    <hr>
    <h2>List d'animaux</h2>
    <ul th:if="${animals}">
        <li th:each="animal : ${animals}">
            <p th:text="${animal.name}"/>
        </li>
    </ul>
    <hr>
    <h2>Formulaire creation</h2>
    <form th:object="${animalForm}" th:action="@{/create}" method="post">
        <label>Nom : <input type="text" th:field="*{name}"/></label>
        <button type="submit">Ajouter</button>
    </form>
    <hr>
</body>
</html>